@media #{$media-rule-for-extra-small-screen} {
  .differences-in-methods {
    // // Position
    // position: relative;
    // z-index: -2;
    z-index: 1;
    // Block model
    // box-sizing: border-box;
    // padding: func-px-to-rem(40, 323, 40, 33);
    padding: func-px-to-rem(36, 20, 214);

    &--padding-small {
      // Block model
      padding: func-px-to-rem(36, 20, 221);
    }

    &__text {
      // Block model
      // padding-bottom: func-px-to-rem(24);
      // Typography
      font-size: 1rem;
    }

    &__button {
      // Block model
      max-width: 100%;
      width: 100%;
      padding-right: func-px-to-rem(22.5);
      padding-left: func-px-to-rem(25);

      &--large-height {
        // Block model
        min-height: 3rem;
      }
      &-image {
        // Block model
        width: func-px-to-rem(20);
        margin-left: 0;
      }
      &-text {
        // Typography
        text-align: left;
        font-size: 0.88rem;
      }
    }

    &__image {
      // Position
      bottom: 2%;
      right: 50%;
      // Block model
      width: 100%;
      // Other
      transform: translateX(50%);
    }
    &__image-2 {
      // Block model
      width: calc(252 / 272 * 100%);
      // Other
      transform: translate(func-px-to-rem(-10), func-px-to-rem(16));
    }
  }
}
