@media #{$media-rule-for-extra-small-screen} {
  .section-wrapper {
    // Block model
    padding-top: calc((60 / 16) * 1rem);

    &--padding-top-small {
      // 60 60 60 40 40
      // Block model
      padding-top: func-px-to-rem(40);
    }

    &__content {
      // Block model
      padding-top: calc((32 / 16) * 1rem);
    }
    .section-wrapper__content + .section-wrapper__content {
      // 60 40 32 32 32
      padding-top: func-px-to-rem(32);
    }
  }
}
