@media #{$media-rule-for-extra-small-screen} {

.filters {
    // Block model
    flex-direction: column;
    gap: 1.5rem;

    &__type-of-cars {
        // Block model
        // 0.563
        // 0.75
        order: 2;
        gap: 0.85rem 0.3rem;
        flex-wrap: wrap;
    }
    &__country {
        // Block model
        order: 1;
        gap: 0.4rem;
    }
        // &__item {
            // padding: 0 0.65rem;
        // }
        &__item-text{
            // Typography
            font-size: 0.88rem;
        }
}

}