@media #{$media-rule-for-small-screen} {
  .faq {
    // Block model
    flex-direction: column;
    flex-wrap: nowrap;

    &__title {
      // Block model
      padding-bottom: func-px-to-rem(32);
    }
    &__questions {
      // Block model
      width: 100%;
    }
    &__question-wrapper {
      // Block model
      padding: func-px-to-rem(36);
      min-height: func-px-to-rem(119);

      &::after {
        // Position
        top: func-px-to-rem(48);
        right: func-px-to-rem(36);
      }

      &--open {
        // Block model
        gap: func-px-to-rem(20);
      }
    }

    &__question {
      // Block model
      width: 69.7%;
    }

    &__contact {
      // Position
      position: relative;
      // Block model
      display: block;
      margin-top: func-px-to-rem(24);
      width: 100%;
      padding: func-px-to-rem(48, 36);

      &-title {
        // Typography
        font-size: 1.5rem;
      }

      &-button-text {
        // Typography
        font-size: 0.88rem;
      }
    }
  }
}
