@media #{$media-rule-for-small-screen} {
  .text-block {
    &__title {
      // Block model
      padding-bottom: 1rem;
      text-wrap: balance;

      &--image {
        // Block model
        width: 2.875rem;
      }
    }
    &__subtitle {
      // Block model
      padding-bottom: 1rem;
    }
    &__previous-arrow {
      // Block model
      gap: func-px-to-rem(6);
    }
    // &__text {
    // Typography
    // font-size: 0.88rem;
    // }
  }
}
