@media #{$media-rule-for-small-screen} {
  .main-japan {
    // Block model
    padding-top: func-px-to-rem(20);
    // padding-bottom: 0rem;
    padding-bottom: func-px-to-rem(60);
    flex-direction: column;
    gap: 3.85rem;

    &__wrapper-text-block {
      // Block model
      width: 100%;
    }
    &__wrapper-image {
      // Block model
      width: 100%;
      flex-basis: content;
    }
    &__image {
      // Decor
      border-radius: 1.88rem;
    }
  }
}
