@media #{$media-rule-for-large-screen} {
  .documents {
    &__item {
      flex-direction: column;
      gap: func-px-to-rem(18);
      padding: func-px-to-rem(46, 113);

      &-title {
        // Block model
        width: min-content;
      }

      &-image {
        // Block model
        width: 97%;
      }
    }
  }
}
