@media #{$media-rule-for-medium-screen} {
  .description-method {
    &__text-block {
      // Block model
      // display: flex;
      // justify-content: space-between;

      &-title {
        // Block model
        width: calc((261 / 660) * 100%);
        // 356
        // width: 36.7%;
      }
      &-text {
        // Block model
        width: calc((317 / 660) * 100%);
        // 432
        // width: 46.1%;
        // Typography
        // text-wrap: balance;
      }
    }
    &__wrapper-images {
      // Block model
      padding-top: func-px-to-rem(40);
      // display: grid;
      // grid-template-rows: 14.06rem;
      // grid-template-columns: repeat(3, 1fr);
      // column-gap: func-px-to-rem(24);
    }
    &__image {
      // Block model
      // width: 100%;
      // object-fit: contain;
      // Decor
      border-radius: 1.88rem;
      // border-radius: 2.5rem;
    }
  }
}
