@media #{$media-rule-for-extra-small-screen} {
  .car-card {
    &__advantage {
      // Block model
      max-width: 52.3%;
      padding: 0.75rem 1.625rem;
    }

    &__text-wrapper {
      // Block model
      padding: 0 1.25rem 1.5rem;
    }

    &__characteristics {
      // Typography
      font-size: 1rem;
    }
    &__button {
      &-image {
        // Block model
        width: 1.125rem;
      }
      &-text {
        // Typography
        font-size: 0.88rem;
      }
    }
  }
}
