@media #{$media-rule-for-large-screen} {
  .note {
    // Block model
    padding: func-px-to-rem(0, 47);

    &__inner {
      // Block model
      padding-top: func-px-to-rem(24);
      padding-bottom: func-px-to-rem(24);
    }
  }
}
